*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}
body{
    background: purple;
}

/* Navbar container */
nav{
  background:#0d6efd;
  padding:10px 20px;
  display:flex;
  flex-wrap:wrap;
  justify-content:center; /* center all links */
  gap:10px; /* links এর মধ্যে gap */
}

/* Navbar links */
nav a{
  color:white;
  text-decoration:none;
  font-weight:bold;
  padding:8px 12px;
  border-radius:5px;
}

nav a:hover{
  background:rgba(255,255,255,0.2);
}
/* Container */
.container{
    width:90%;
    max-width:1100px;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:40px;
}

/* Form */
input, textarea{
    width:100%;
    padding:10px;
    margin:8px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#0d6efd;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:5px;
    cursor:pointer;
}

button:hover{
    background:#084298;
}
@media(max-width:768px){
    nav{
        flex-direction:column; /* ফোনে vertically দেখাবে */
        align-items:center;
    }
    nav a{
        width:80%; /* links পুরো width নেবে */
        text-align:center;
        margin:5px 0;
    }
}
